<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019511153529-c8gi6mdg1u8k1gun1lh9vo0g047imbm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019511153529-c8gi6mdg1u8k1gun1lh9vo0g047imbm9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWHARPz2AeebvHUUNyxt1kYTWJf6Iwcsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019511153529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d5b17</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d5b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019511153529:ios:d3db290f255a79b87785a8</string>
</dict>
</plist>